---
permalink: /feed.xml
eleventyExcludeFromCollections: true
metadata:
  subtitle: Ghid pentru începători
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="ro">
  <title>{{ site.name }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  {%- if collections.posts.length %}
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc822 }}</updated>
  {%- else %}
  <updated>{{ "now" | isoDate | dateToRfc822 }}</updated>
  {%- endif %}
  <id>{{ site.url }}/</id>
  <author><name>{{ site.author.name }}</name></author>
  <rights>© {{ "now" | year }} {{ site.author.name }}</rights>
  {%- for post in collections.posts %}
  {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc822 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <category term="{{ post.data.category }}"/>
    <summary>{{ post.data.description }}</summary>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | escape }}</content>
  </entry>
  {%- endfor %}
</feed>
