---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- set staticPages = ["/", "/blog/", "/cauta/", "/despre/", "/contact/"] %}
  {%- for path in staticPages %}
  <url>
    <loc>{{ site.url }}{{ path }}</loc>
    <changefreq>monthly</changefreq>
    <priority>{{ "1.0" if path == "/" else "0.7" }}</priority>
  </url>
  {%- endfor %}
  {%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ (post.data.updated or post.date) | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
  {%- for cat in collections.categories %}
  <url>
    <loc>{{ site.url }}/categorii/{{ cat.slug }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
  {%- endfor %}
</urlset>
